<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fbfd6">  <td>16/02/03 15:34:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Successful_Login.Driver_Creation()[pri:0, instance:PartnerInfo.Successful_Login@4b52f4ce]">&gt;&gt;Driver_Creation</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1871593525</td>   <td></td> </tr>
<tr bgcolor="9fbfd6">  <td>16/02/03 15:34:25</td>   <td>11648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Successful_Login.Login()[pri:3, instance:PartnerInfo.Successful_Login@4b52f4ce]">Login</td> 
  <td>main@1871593525</td>   <td></td> </tr>
<tr bgcolor="9fbfd6">  <td>16/02/03 15:34:24</td>   <td>10627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Successful_Login.Login_button_Highlight()[pri:2, instance:PartnerInfo.Successful_Login@4b52f4ce]">Login_button_Highlight</td> 
  <td>main@1871593525</td>   <td></td> </tr>
<tr bgcolor="9fbfd6">  <td>16/02/03 15:34:23</td>   <td>9613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Successful_Login.Password_Visibility_Check()[pri:1, instance:PartnerInfo.Successful_Login@4b52f4ce]">Password_Visibility_Check</td> 
  <td>main@1871593525</td>   <td></td> </tr>
<tr bgcolor="9fbfd6">  <td>16/02/03 15:34:23</td>   <td>9426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Successful_Login.Username_Visibility_Check()[pri:0, instance:PartnerInfo.Successful_Login@4b52f4ce]">Username_Visibility_Check</td> 
  <td>main@1871593525</td>   <td></td> </tr>
</table>
